/* line 2, ../../../app/stylesheets/text/header.sass */
#header #name {
  font: bold 4em Arial;
}
/* line 5, ../../../app/stylesheets/text/header.sass */
#header #menu ul {
  list-style: none;
}
/* line 7, ../../../app/stylesheets/text/header.sass */
#header #menu ul li {
  float: left;
  font: bold 0.9em Arial;
}
