.vertical_spacer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  height: 1em;
}


body {
  font-family: 'Lucida Grande';
  font-size: 18px;
}

.container_12 {
  background: #e2e1e2;
}

ul {
  margin-left: 0;
}


a {
  text-decoration: none;
}

a:link, a:visited { color: #00ced1; }
a:hover { color: red; }

[data-role="navbar"] li {
  display: inline;
  margin-right: 1em;
}

h2 {
  text-align: center;
  color: #C00000;
}

.grid_6 li, .grid_6 a {
  font-size: 20px;
}

#form {
  border: 2px dashed #00ced1;
}

input.submit {
  width: 140px;
}
