%div.content_box{'data-role' => 'content'}
  - unless @favourites.empty?
    %ul{'data-role' => 'listview'}
      - @favourites.each do |favourite|
        %li.item_box
          = link_to favourite.name,
            search_schedule_search_path(:station_from => favourite.station_from,
                                        :station_to => favourite.station_to,
                                        :from_station => 'true') 
          = link_to 'Edytuj', edit_favourite_path(favourite), 'data-icon' => 'gear', :class => 'edit_link'
    .spacer_mobile
    = button_to 'Dodaj', new_favourite_path, :method => :get, 'data-icon' => 'plus', 'data-role' => 'button'
  - else
    .ui-body.ui-body-e
      W tej chwili nie masz żadnych ulubionych.
      = button_to 'Dodaj', new_favourite_path, :method => :get, 'data-icon' => 'plus', 'data-role' => 'button'
