.prefix_3
  .grid_6.box
    %h2 Ulubione
    %ul{'data-role' => 'listview'}
      - unless @favourites.empty?
        - @favourites.each do |favourite|
          %li
            = link_to favourite.name,
              search_schedule_search_path(:station_from => favourite.station_from,
                                          :station_to => favourite.station_to,
                                          :from => 'station',
                                          :to => 'station'), :class => 'grid_2 alpha prefix_1'
            = link_to 'Edytuj', edit_user_favourite_path(current_user.id,favourite.id), 'data-icon' => 'gear', :class => 'grid_2'
          .clear
      - else
        %li W tej chwili nie masz żadnych ulubionych.

    .vertical_spacer
    .mobile_spacer

    .grid_2.alpha.prefix_4
      = button_to 'Dodaj', new_user_favourite_path, :method => :get, 'data-icon' => 'plus', 'data-role' => 'button'
