%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    = link_to 'Index', root_path, :class => 'ui-btn-right', 'data-direction' => 'reverse'
    %h1 Ulubione 
  %div{'data-role' => 'content'}
    = render 'form'
