.prefix_3
  %ul.grid_6.box{'data-role' => 'listview'}
    %li.title{'data-role' => 'list-divider'} Rozkłady
    %li= link_to "Dla przystanku", schedules_stations_path
    %li= link_to "Dla linii", schedules_lines_path
    %li= link_to "Mapa przystanków", pages_static_map_path
