.prefix_3
  %ul.grid_6.box{'data-role' => 'listview'}
    %li.title{'data-role' => 'list-divider'} Rozkłady
    %li= link_to "dla przystanku", schedules_stations_path
    %li= link_to "dla linii", schedules_lines_path
