%div.content_box{'data-role' => 'content'}
  - if flash[:errors]
    - flash[:errors].each do |error, msg|
      = content_tag :div, msg, :class => 'ui-body ui-body-e'
  - if flash[:error]
    = content_tag :div, flash[:error], :class => 'ui-body ui-body-e'
