%div{'data-role' => 'page'}
  %div{'data-role' => 'header'}
    %h1 rozklad.czest.pl
  %div{'data-role' => 'content'}
    %ul{'data-role' => 'listview'}
      %li= link_to 'Szukaj połączenia', search_schedule_new_search_path
      %li= link_to 'Ulubione', favourites_path
      %li= link_to 'Mapa przystanków', pages_map_path
      %li= link_to_function 'Udostępnij położenie', 'getLocation();'
    %br
    %p Jeżeli chcesz korzystać z funkcji mapy, musisz najpierw udostępnic swoje położenie.

