<!DOCTYPE html>
%html
  %head
    %title Rozkład jazdy autobusów MPK w Częstochowie
    =stylesheet_link_tag 'ext-touch.css'
    =javascript_include_tag 'ext-touch-debug.js'
    =javascript_include_tag 'autocomplete_data.js'
    =javascript_include_tag 'index.js'
  %body
