.prefix_2
  .grid_8.box
    %h2 rozkład.czest.pl
    %ul
      - if flash[:errors]
        - flash[:errors].each do |error, msg|
          %li= msg

      - if flash[:error]
        %li= flash[:error]

      - if flash[:notice]
        %li= flash[:notice]
