.page-map{'data-role' => 'page', :style => 'width:100%; height:100%;'}
  %div{'data-role' => 'header'}
    %h1 Mapa
    %div{'data-role' => 'content', :style => 'width:100%; height:100%; padding:0;'}
      %iframe{:style => 'width:100%; height:100%;', :src => 'http://maps.google.pl/maps/ms?hl=pl&amp;ie=UTF8&amp;oe=UTF8&amp;start=400&amp;num=200&amp;msa=0&amp;msid=214247094233741962570.00049e38fb7226ccc33ad&amp;ll=50.783365,19.14299&amp;spn=0.179384,0.263329&amp;output=embed'}
