%iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.pl/maps/ms?msa=0&msid=214247094233741962570.00049e38fb7226ccc33ad&hl=pl&ie=UTF8&ll=50.78199,19.148996&spn=0.179384,0.274827&output=embed", :width => "425"}
