%iframe.grid_12{:src => 'http://maps.google.pl/maps/ms?hl=pl&amp;ie=UTF8&amp;oe=UTF8&amp;start=400&amp;num=200&amp;msa=0&amp;msid=214247094233741962570.00049e38fb7226ccc33ad&amp;ll=50.783365,19.14299&amp;spn=0.179384,0.263329&amp;output=embed'}
