%div{'data-role' => 'footer'}
  .container_12
    .grid_4.alpha
      Copyright©2011 
      %span.normal_nav= link_to 'DoubleDrones.com', 'http://doubledrones.com'
    .grid_4
      Design and Coding by 
      %span.normal_nav= link_to 'DoubleDrones.com', 'http://doubledrones.com'
    .grid_4.omega
      Serwis dostępny również w wersji mobilnej.
