.container_12{'data-role' => 'header'}
  - unless session[:mobile]
    #logo
      .grid_6.prefix_4{:style => 'margin-top: 4em;'}
        %h1{:style => 'margin-bottom:0;'} Rozklad.czest.pl
        #desc Jedyny serwis wyszukujący połączenia komunikacji miejskiej w Częstochowie.
  %div{'data-role' => 'navbar'}
    %ul
      %li.normal_nav= link_to 'Index', root_path
      %li.search
        %b= link_to 'Szukaj', search_schedule_new_search_path
      - if current_user
        %li.normal_nav= link_to 'Ulubione', user_favourites_path(current_user.id)
      %li.normal_nav= link_to 'Rozkłady', schedules_index_path
