<!DOCTYPE html>
%html
  %head
    = stylesheet_link_tag 'grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'text.css', :media => 'screen, projection'
    %title Rozkład.czest.pl
  %body
    = yield
